<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>queen attack</title>
  </head>
  <body>
    <form action="/results" method="post">
      <label for="queenA">Enter comma separated coordinates: </label>
      <input type="text" name="queenA">
      <label for="queenB">Enter comma separated coordinates: </label>
      <input type="text" name="queenB">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
